body{
    background: rgb(6, 37, 58)
}

#card{
    background: rgb(84, 7, 7);
    margin: 0 auto;
    width: 30%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    padding: 10px;
    text-align: center;
    font-size: 120%;
    font-weight: 700  
}